
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Books_Layout.cshtml";
}


<h2>Books Summary</h2>

<h3>No. of books : @ViewBag.Count</h3>

@section scripts
{
   <script src="~/Scripts/jquery.validate.min.js"></script>
   <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


