
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/Books_Layout.cshtml";
}

<h2>Search Books</h2>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "books", HttpMethod = "post" }))
{
    <span>Title :</span>
    <input type="text" name="title" />
    <input type="submit" value="Search" />
    <p></p>
    <div id="books">

    </div>
}


@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
