body {
    padding-top: 5px;
    font-family : Verdana;
    font-size: 12pt;
}

.banner {
    padding-top: 5px;
    padding-bottom:5px;
    font-family : Arial;
    font-size:24pt;
    font-weight : bold;
    letter-spacing : 5pt;
    background-color : navy;
    color:silver;
}

.menu {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: silver;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
